.nosotros{
    // border: 2px solid blue;
    height: 80vh;
    display: flex;
    &-text{
        // border: 2px solid red;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10rem;
        h1{
            color: $second;
            font-size: 36px;
            position: relative;
            &::after{
                content: "";
                display: block;
                position: absolute;
                top: 28px;
                width: 300px;
                height: 4px;
                margin-left: 280px;
                background-color: $second;
            }
        }
        h2{
            color: $primary;
            font-size: 22px;
            margin-top: 1rem;
        }
        p{
           color: $tertiary;
           font-weight: 500;
           font-size: 18px;
           width: 35rem; 
        }
    }
    &-img{
        // border: 2px solid green;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 6rem;
        img{
            width: 25rem;
        }
    }
}

// media querys

@media (max-width: 1300px) {
    .nosotros{
        &-text{
            margin-left: 2rem;
            h1{
                &::after{
                    width: 250px;
                }
            }
        }
        &-img{
            padding-right: 0;
        }
    }
}

@media (max-width: 1050px) {
    .nosotros{
        &-text{
            margin-left: 0;
            justify-content: center;
            align-items: center;
            h1{
                font-size: 34px;
                &::after{
                    width: 200px;
                    top: 26px;
                    margin-left: 260px;
                }
            }
            h2{
                font-size: 18px;
            }
            p{
               font-size: 16px;
               width: 30rem; 
            }
        }
        &-img{
            img{
                width: 20rem;
            }
        }
    }
}

@media (max-width: 900px) {
    .nosotros{
        height: 110vh;
        flex-direction: column;
        &-text{
            h1{
                font-size: 30px;
                &::after{
                    width: 80px;
                    top: 22px;
                    margin-left: 240px;
                }
                &::before{
                    content: "";
                    display: block;
                    position: absolute;
                    height: 4px;
                    background-color: $second;
                    width: 80px;
                    top: 22px;
                    margin-left: -110px;
                }
            }
            h2{
                font-size: 16px;
                text-align: center;
            }
            p{
               font-size: 14px;
            }
        }
    }
}

@media (max-width: 500px) {
    .nosotros{
        height: 110vh;
        flex-direction: column;
        &-text{
            p{
                max-width: 90%;
            }
            h1{
                font-size: 24px;
                &::after{
                    width: 40px;
                    top: 18px;
                    margin-left: 190px;
                }
                &::before{
                    content: "";
                    display: block;
                    position: absolute;
                    height: 4px;
                    background-color: $second;
                    width: 40px;
                    top: 18px;
                    margin-left: -60px;
                }
            }
        }
    }
}