.servicios{
    background-image: url('/image/servicios.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    height: 90vh;
    margin-top: 15rem;
    text-shadow: 0px 0px 20px black;

    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        color: $second;
        margin: 3rem 0;
        font-size: 36px;
        // border: 2px solid yellow;
    }
    &-list{
        // border: 2px solid red;
        display: flex;
        justify-content: space-around;
        height: 55vh;
        width: 100%;

        color: white;
        font-weight: 500;
        font-size: 18px;
        &-top{
            width: 15rem;
            display: flex;
            align-items: center;
            height: fit-content;
            flex-direction: column;
            align-self: flex-start;
            // border: 2px solid green;
            img{
                width: 10rem;
            }
        }
        &-bottom{
            width: 15rem;
            display: flex;
            align-items: center;
            height: fit-content;
            flex-direction: column;
            align-self: flex-end;
            // border: 2px solid blue;
            img{
                width: 10rem;
            }
        }
    }
}

@media (max-width: 1200px) {
    .servicios{
        h1{
            font-size: 28px;
        }
        &-list{
            font-size: 16px;
            
            &-top{
                img{
                    width: 8rem;
                }
            }
            &-bottom{
                img{
                    width: 8rem;
                }
            }
        }
    }
}

@media (max-width: 1060px) {
    .servicios{
        height: 160vh;
        h1{
            margin: 1rem 0;
        }
        &-list{
            font-size: 18px;
            height: 100%;
            flex-direction: column;

            &-top{
                img{
                    width: 10rem;
                }
            }
            &-bottom{
                img{
                    width: 10rem;
                }
            }
        }
    }
}